[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
rope = "*"

[packages]
django = "*"
pillow = "*"
postgres = "*"
django-minio-storage = "*"
djangorestframework = "*"

[requires]
python_version = "3.6"
